xos-login {
  .content {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
  }

  .container-center {
    background: rgba(68, 70, 79, 0.8);
  }

  .panel.panel-filled {
    background: transparent;
  }

  hr {
    border-color: #fff;
  }
}
